.turquoise {
  background-color: turquoise;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.section {
  text-align: center;
}
