{
    "env": {
        "browser": true,
        "node": true
    },
    "parser": "babel-eslint",
    "extends": ["plugin:prettier/recommended"],
    "plugins": ["react", "jsx-a11y", "import"],
    "rules": {
        "react/jsx-filename-extension": 0
    }
}
