<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Webpack Boilerplate</title>
</head>
<body>
    <div class="content"></div>
</body>
</html>
