body{
    font-family: arial;
}
.custom-section{
    text-align: center;
    font-size: 4em;
    color: #fff;
}

.actions{
    list-style-type: none;
}
.actions button{
    padding: .93em 1.87em;
    background: #35495e;
    border-radius: 5px;
    border: 0;
    color: #fff;
    margin: 7px;
    font-size: 15px;
    cursor: pointer;
}
.actions button:hover{
    background: #fff;
    color: #35495e;
}